{
  "passPerPreset": true,
  "presets": [
    {
      "plugins": [
        "./client/babelRelayPlugin"
      ]
    },
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": ["transform-object-rest-spread", "transform-async-to-generator"]
}