
// colors
$primary: #dc0026;
$secondary: #656e72;

$dark: #656e72;

// typography
$font-family-base: "Source Sans Pro","Calibri","Candara","Arial","sans-serif";

$headings-color: #dc0026;
$headings-font-weight: 300;

// misc
$border-radius: 0;

@import "bootstrap/scss/bootstrap.scss"